/* Add your own styles */
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #0C63B3;
    background-image: linear-gradient(to right, #0C63B3 , white);
}

header{
    text-align: center;
    color: white;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 50px;
    font-weight: bold;
    -webkit-text-stroke: 1px #010A1B;
    text-shadow: 0px 8px 8px #282828;
}

main{
    margin-top: 40px;
    padding-left: 250px;
    padding-right: 250px;
}

img{
    width: 200px;
}

#controls{
    display: flex;
    padding: 10px;
}


label{
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 20px;
}

#country{
    padding: 5px;
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    transition: width 0.4s ease-in-out;
}

#country:focus{
    width: 100%;
}

button{
    background: #46cc80;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background: white;
    color: #46cc80;
}

#result{
    color: white;
    background-color: #46cc80;
}

table{
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
    border: none;
}

table td, tr, th{
    border: 1px solid black;
    padding: 5px;
    font-weight: bold;
}

tr:hover{
    background-color: white;
    color: #46cc80;
}